/* Cabeçalho do site */
.navbar-custom {
    background-color: #F2E01C; /* Cor personalizada */
}

.navbar-custom .navbar-brand {
    color: black;
    text-align: center; /* Alinha o texto centralmente */
    width: 100%; /* Ocupa toda a largura disponível */
}

/* Botões */
.center-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    width: 100px; /* Tamanho específico para os botões */
    height: 40px; /* Tamanho específico para os botões */
    background-color: #F2E01C; /* Cor personalizada */
    color: black; /* Cor do texto */
    border: none; /* Remove a borda padrão */
}

.btn-custom:hover {
    background-color: #FAED58; /* Cor ao passar o mouse */
    color: black; /* Cor do texto */
}

.btn-custom-2 {
    background-color: #F2E01C; /* Cor personalizada */
    color: black; /* Cor do texto */
    border: none; /* Remove a borda padrão */
}

.btn-custom-2:hover {
    background-color: #FAED58; /* Cor ao passar o mouse */
    color: black; /* Cor do texto */
}

/* Rodapé */
.footer {
    background-color: #fff9b7; /* Cor do rodapé */
    bottom: 0; /* Alinha o rodapé na parte inferior */
    width: 100%; /* Define a largura do rodapé como 100% da largura da janela */
    flex-shrink: 0; /* Impede que o rodapé encolha */
}

.navbar-brand {
    color: black;
    text-align: center; /* Alinha o texto centralmente */
    width: 100%; /* Ocupa toda a largura disponível */
}

/* Mantém o rodapé no final da página, todo o código deve ficar dentro de <main></main> */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
